@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

body {
	margin: 50px 0;
	min-width: 200px;
}
label {
	width: 100%;
}
h1 {
	color: #222;
	font: 300 54px Lato, sans-serif;
}
h2 {
	color: #777;
	font: 28px Lato, sans-serif;
	font-size: 18px;
}
hr {
	border-color: #e9ecef;
	margin: 50px 0;
}
.container {
	max-width: 420px;
}
.btn {
	border: 2px solid #00c165;
	border-radius: 5px;
	color: #00c165;
	display: inline-block;
	font: bold 12px Lato, sans-serif;
	letter-spacing: 1px;
	padding: 12px 16px;
	text-transform: uppercase;
	transition: all .1s;
	word-spacing: 3px;
}
.btn:hover {
	background: #00c165;
	color: #fff;
	text-decoration: none;
}
.btn:active {
	opacity: .8;
	box-shadow: none;
}
#header {
	text-align: center;
	padding-bottom: 20px;
}
#header h2 {
	color: #888;
	font: 300 26px Lato, sans-serif;
	line-height: 1.5;
}
#header .light {
	color: #d0d5d7;
}
#color {
	margin-bottom: 20px;
	text-align: center;
}
#palette {
	border-radius: 4px;
	color: #fff;
	font-size: 24px;
	margin-bottom: 20px;
	text-align: center;
	transition: background .4s;
	padding: 20px 0;
}
#input {
	border: 2px solid #eee;
	border-color: #e9ecef;
	border-radius: 4px;
	font-weight: normal;
	outline: 0;
	padding: 10px 14px;
	width: 100%;
}
#input:focus {
	border-color: #bdc3c7;
}
#view-source {
	text-align: center;
}
#footer {
	margin-top: 40px;
	text-align: center;
	text-transform: uppercase;
}
#footer a {
	color: inherit;
	text-decoration: none;
}
#footer a:hover {
	color: #1abc9c;
}
#footer small {
	color: #bec5d0;
	font: 12px Lato, sans-serif;
	word-spacing: 2px;
}
