@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

body {
	margin: 50px;
	min-width: 200px;
}
ul,
ol,
li {
	list-style: none;
	margin: 0;
	padding: 0;
}
label {
	width: 100%;
}
h1 {
	color: #666;
	font-size: 24px;
	margin-bottom: 60px;
}
h1 small {
	color: #ccc;
	font-size: 14px;
}
h2 {
	color: #aaa;
	font-size: 18px;
}
hr {
	margin: 40px 0;
	border-style: dashed;
	border-color: #eee;
}
.container {
	max-width: 420px;
}
.btn {
	border: 2px solid #1abc9c;
	border-radius: 5px;
	color: #1abc9c;
	display: inline-block;
	font: bold 12px Lato, sans-serif;
	letter-spacing: 1px;
	padding: 12px 16px;
	text-transform: uppercase;
	transition: all .1s;
	word-spacing: 3px;
}
.btn:hover {
	background: #1abc9c;
	color: #fff;
	text-decoration: none;
}
.btn:active {
	background: #16a085;
	border-color: #16a085;
	box-shadow: none;
}
.linenums {
	counter-reset: i;
	list-style: none;
	margin: 0;
}
.linenums li {
	clear: both;
}
.linenums li:before {
	-webkit-user-select: none;
	        user-select: none;
	content: counter(i);
	counter-increment: i;
	color: #ccc;
	float: left;
	font-size: 10px;
	line-height: 18px;
	margin-right: 8px;
	text-align: right;
	padding-right: 10px;
	width: 25px;
}
#header {
	text-align: center;
}
#color {
	margin: -20px 0 20px 0;
	text-align: center;
}
#test-1,
#test-2 {
	border: 2px solid #eee;
	border-radius: 4px;
	color: #fff;
	margin-bottom: 20px;
	padding: 10px 14px;
}
#input {
	border: 2px solid #eee;
	border-radius: 4px;
	font-weight: normal;
	outline: 0;
	padding: 10px 14px;
	width: 100%;
}
#input:focus {
	border-color: #bbb;
}
#example h1 {
	margin-bottom: 10px;
}
#example h2 {
	margin-top: 30px;
}
#example pre {
	-moz-tab-size: 4;
	     tab-size: 4;
	background-color: #f7f9fa;
	border-color: #e9ecef;
	border-width: 2px;
	word-wrap: normal;
}
#view-source {
	text-align: center;
}
#footer {
	margin-top: 40px;
	text-align: center;
	text-transform: uppercase;
}
#footer a {
	color: inherit;
	text-decoration: none;
}
#footer a:hover {
	color: #1abc9c;
}
#footer small {
	color: #bec5d0;
	font: 12px Lato, sans-serif;
	word-spacing: 2px;
}

.com { color: #93a1a1; }
.lit { color: #195f91; }
.pun, .opn, .clo { color: #93a1a1; }
.fun { color: #dc322f; }
.str, .atv { color: #D14; }
.kwd, .prettyprint .tag { color: #D14; }
.typ, .atn, .dec, .var { color: teal; }
.pln { color: #195f91; }
